<nav data-menu-name="<%= menu.name %>" aria-label="<%= menu.title %>" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <%- menu.items.each do |item| %>
          <li class="nav-item">
            <a href="<%= item.url %>"<%= active_flag(item) %>>
              <%= item.localize? ? t(item.label) : item.label %>
            </a>
          </li>
        <%- end %>
      </ul>
    </div>
  </div>
</nav>